.header__logo{
  max-width: 200px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 879px) {
  .header__logo {
    max-width: 175px;
  }
}
@media screen and (max-width: 620px) {
  .header__logo {
    max-width: 150px;
  }
}
@media screen and (max-width: 520px) {
  .header__logo {
    max-width: 104px;
  }
}