.pagination__current-page{
  border: 3px solid lightgray;
  border-radius: 50%;
  padding: 5px 10px;
  margin: 0 10px;
  cursor: pointer;
  width: 30px;
  text-align: center;
  color: whitesmoke;
  font-weight: 700;
}

@media screen and (max-width: 620px){
  .pagination__current-page{
    width: 20px;
    margin: 0 5px;
    font-weight: 400;
  }
}